body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden !important;
}

.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.row-body > div {
  padding: $mobile-padding;
  width: 100%;
}

.navbar-brand {
  margin-right: 0;
}

// fonts
h1 {
  font-weight: 700;
  font-size: $h1-mobile;
  line-height: $h1-line-height-mobile;
  letter-spacing: -0.75px;
}

h2 {
  font-weight: 700;
  font-size: $h2-mobile;
  line-height: $h2-line-height-mobile;
  letter-spacing: -0.75px;
}

h3 {
  font-weight: 600;
  font-size: $h3-mobile;
  line-height: $h3-line-height-mobile;
  letter-spacing: -0.5px;
}

h5 {
  font-weight: 500;
  line-height: $h5-line-height-mobile;
  font-size: $h5-mobile;
  letter-spacing: -0.5px;
}

.caption {
}

// hero sections
.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  left: 0;
  top: 0;
  z-index: 1;
}

.hero-image {
  z-index: 0;
  position: absolute;
  max-width: 200%;
  top: 0;
}

.text-wrapper {
  z-index: 2;
  color: white;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// sub sections
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

// info cards
.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 0;
}

.info-card > * {
  margin: 2px 0;
}
.info-cards-img {
  width: 140px;
}
