.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-sm {
  width: 120px;
  height: 40px;
}

.button-lg {
  width: 100%;
  max-width: 400px;
  height: 60px;
}

.button-links {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.text-links {
  color: white;
  font-weight: 600;
}

.button-primary {
  border-radius: 4px;
  background: $primary-blue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: white;
}

.button-outline-primary {
  border: 2px solid $primary-blue;
  border-radius: $brdr-rad;
}

.button-outline-primary * {
  color: $primary-blue !important;
}
