/* MEDIA QUERIES.CSS */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .text-wrapper,
  .info,
  .join {
    max-width: 576px;
  }

  .hero {
    height: 88vh;
  }
  .info-card .caption {
    max-width: 440px;
  }
}

@media (min-width: 772px) {
  .content-wrapper {
    max-width: 772px;
    border-radius: 8px;
    margin-top: -62px;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .navbar {
    height: 113.85px;
    padding: 32px 200px;
  }
  .nav-collapse,
  .navbar-nav {
    height: inherit;
  }
  .navbar-nav {
    width: 340px;
  }

  .text-wrapper {
    text-align: left;
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .text-wrapper {
    max-width: 1050px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  h1 {
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0;
  }

  h2 {
    font-size: 40px;
    line-height: 60px;
  }

  h3 {
    font-size: 32px;
  }

  h5 {
    line-height: 48px;
    font-size: 32px;
    font-weight: 400;
  }
  .hero {
    height: 98vh;
  }
  .hero-image {
    max-width: 150%;
  }
  .caption {
    font-size: 24px;
    letter-spacing: -1px;
  }

  .info-card > * {
    margin: 4px 0;
  }
  .text-wrapper h5 {
    max-width: 700px;
  }

  .text-wrapper,
  .content-wrapper {
    max-width: 976px;
  }
  .content-wrapper {
    margin-top: -116px;
  }
  .join {
    min-height: 670px;
  }
  .info,
  .join {
    max-width: 776px;
  }

  .info-card .caption {
    max-width: 512px;
  }
  .navbar-nav {
    width: 440px;
  }
}

@media (min-width: 1660px) {
  .info-cards-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .info-card {
    width: 270px;
  }

  .text-wrapper,
  .content-wrapper {
    max-width: 1200px;
  }
  .info,
  .join {
    max-width: 900px;
  }

  .caption {
    font-size: 20px;
  }
  .join {
    min-height: 670px;
  }
}
